body {
  color: green;
}

.errors {
  display: inline-block;
  border: 2px solid red;
  color: red;
  padding: 1em;
  margin-bottom: 1em;
}

.errors ul {
  margin-bottom: 0;
  padding-left: 1em;
}

#message {
  color: #0B61A5;
  background: white;
  border: 2px solid #0B61A5;
  padding: 1em 15px;
  margin: 1em 30px;
  width: 890px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* CSS from online Login Form  */
ul.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  float: right;
  background: #eee;
  border-bottom: 1px solid #fff;
  border-radius: 3px;
}

ul.nav li {
  float: left;
}

ul.nav li#login {
  clear: both;
  border-right: 1px solid #ddd;
  box-shadow: 1px 0 0 #fff;
}

ul.nav #login-trigger,
ul.nav #remember_me {
  // display: inline-block;
  *display: inline;
  *zoom: 1;
  clear: both;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  padding: 0;
  text-decoration: none;
  // color: #444;
  text-shadow: 0 1px 0 #fff;
  text-align: left;
}

ul.nav #remember_me {
  border-radius: 0 3px 3px 0;
}

ul.nav #login-trigger {
  border-radius: 3px 0 0 3px;
}

ul.nav #login-trigger:hover,
ul.nav #login .active,
ul.nav #remember_me input[type=checkbox]:hover {
  background: #fff;
}

ul.nav #login-content {
  display: none;
  position: absolute;
  top: 24px;
  right: 0;
  z-index: 999;
  background: #fff;
  background-image: linear-gradient(top, #fff, #eee);
  padding: 15px;
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.9);
  border-radius: 3px 0 3px 3px;
}

ul.nav li #login-content {
  right: 0;
  width: 250px;
}
/*--------------------*/

ul.nav fieldset#inputs input {
  background: #f1f1f1;
  padding: 6px 5px;
  margin: 0 0 5px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
  background-color: #fff;
  border-color: #e8c291;
  outline: none;
  box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
  margin: 5px 0 0 0;
}

#login input[type=submit].submitbtn {
  background-color: #d14545;
  background-image: linear-gradient(top, #e97171, #d14545);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #7e1515;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #fff;
}

#login #submit:hover,
#login #submit:focus {
  background-color: #e97171;
  background-image: linear-gradient(top, #d14545, #e97171);
}

#login #submit:active {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 5px;
  padding: .3em;
}

#login div.lblNcheckbox { // block contains checkbox and label nothing currently here 2/19
}

#login label.checkboxLbl {
  position: relative;
  margin-top: .8em;
  float: left;
}

#login span.checkbox { // container that checkbox can float-left in
}

#login input[type="checkbox"] {
  vertical-align: middle;
  display: inline-block;
  margin-left: -3.4em;
  margin-top: .7em;
  width: 50%;
  height: 50%;
  float: left;
}

#login label input {
  position: relative;
  top: 1px;
  right: 1px;
}

/* // 2/19/19 problem with submenus expanding container
// or moving items below from test submenus */
/* li.dropdown ul.dropdown-menu {
  position: absolute;
  z-index: -1;
  top: 100%;
  // oxxxpacity: 0;
  // transition: opacity linear 0.15s;
  // box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  // background-color: red;
} //  -- this reference did nothing */
/* to change this element background-color etc use: .navbar-nav > li > .dropdown ? */

/* li.dropdown ul.dropdown-menu li {  // 2/21/19 NOT working -
  display:block;
  max-width: 1em;
  clear:both;
} */

/* .dropdown .dropdown-menu li {
  width: 7em; // make "Drafts" tag go to next line (not sure why this works)
} */

.dropdown .dropdown-menu li {
    position: relative;
    clear: both;
}

/* DELETE (doesn't seem to do anything) ul.navbar-nav li.dropdown {
  max-width: 1em; // trying to make "Drafts" tag go to next line (not sure why it isn't)
} */

.dropdown .dropdown-menu {
  z-index: 1;
  opacity: 1;
  top: 100%; /* drops element below the container */
  position: absolute; /* doesnt take other elements out of flow */
}

.navbar {
  height: 2em;
  clear: both;
}
