
<!doctype html>

<html lang="en">
  <head>
    <title>MB Blog Page Home</title>
    <meta charset="utf-8">
    <!-- Latest bstrap compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" media="all" href="http://phpmbblog.org/stylesheets/public.css" />
  </head>
  <body>
    <header>
      <h1>
        <a href="/">
          <img class="mb-icon" src="http://phpmbblog.org/images/mbBlogLogo.jpg" />MB Blog
        </a>
      </h1>

    </header>

<div class="blog-masthead">
	<nav class="navbar navbar-default">
		<!--  navbar navbar-expand-lg navbar-light bg-light -->
	<div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">

			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/api/products">Brand</a>
		</div>
		<!-- Collect the nav links, forms, and oth content for toggling -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="nav navbar-nav">
				<li class="active"><a
						href="/">Home</a></li>
				<li><a class="nav-link nav-item """
					  href="#">About</a></li>
			</ul>
<!-- ************** NAV HEAD TRIAL 10/6/18 ******************** -->
			<ul class="nav navbar-nav navbar-right">
        <li><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;No Cart</li>
				<br>
        <li><div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</button> or <a href="/user/create">Create User</a>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">
                <div class ="col-md-12 float-left">
<div class ="panel-heading">
<h2>Login</h2></div>
<div class ="panel-body">
<form action="/user/login" method="" class ="">
<input type="hidden" name="login[token]" value="0d48f2d4a5d7245d46630fa95feea0e0" class ="form-control">
<div class="form-group">
<label for="usernameOREmail">UsernameOREmail:</label>
<input type="text" name="login[usernameOREmail]" id="usernameOREmail" placeholder="uname_or_u@dom.com" class ="form-control">
</div>
<div class="form-group">
<label for="password">Password:</label>
<input type="password" name="login[password]" id="password" class ="form-control">
</div>
<button type="submit" class ="btn btn-default">
Login</button>
</form>
</div>
</div>
<div class="dropdown-divider"></div>
                <div><a class="dropdown-item" href="#">Other Menu Option</a></div>
              </a>
              <!-- User Profile (update), Login, logout, Signup/Create in Controller->$loginOrProfile -->
          </div>
				</div></li>
			</ul>
		</div><!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
	</nav>
</div>



<!-- ************  END NAV HEAD TRIAL 10/16/18 ******************** -->
    <div class="row container">
      <!-- include('partials._messages') -->
      <div class ="col-md-6 col-md-offset-1 float-left">
<div class ="panel-heading">
<h2>MB Blog</h2></div>
<div class ="panel-body">
Welcome to MB Blog</div>
</div>
      <div class ="float-right my-lg-0">
<div class ="my-lg-0">
<h3>right side info passed in for user</h3></div>
</div>
</div>

    </div> <!-- end of .container -->

        <!-- include('partials._javascript') -->

        <!-- yield('scripts') -->
      <div class="row">
      <footer class="col-sm-6 col-md-8 footnote">
        <p>&copy 2018 Michael Brickler</p>
      </footer>
    </div><!-- end row -->

    </body>
</html>
